{{ partial "header.html" . }}

<body>
<div id="layout" class="pure-g">
<article class="pure-u-1">
{{ partial "brand.html" . }}
{{ partial "content.header.html" . }}
{{ partial "toc.html" . }}
<section>{{ .Content }}</section>
<section>
    <script src="https://utteranc.es/client.js"
    repo="siddharthst/blog"
    issue-term="pathname"
    label="Comment"
    theme="github-light"
    crossorigin="anonymous"
    async>
    </script>
    margin:auto;
  {{ partial "footer.html" . }}
</section>
</article>
</div>
</body>
</html>
